    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Nunito', sans-serif;
    }
    
    body {
        overflow-x: hidden;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
    }
    
    .container {
        width: 100vw;
        font-family: 'Nunito', sans-serif;
    }
    
    .menu {
        position: relative;
        width: 95%;
        margin-top: 25px;
        background-color: #000000;
        /* padding: 10px 0; */
        padding-right: 2%;
        z-index: 1;
        height: 48px;
        padding-top: 5px;
        border-radius: 15px;
        margin-left: 30px;
    }
    
    .menu nav ul {
        text-decoration: none;
        list-style: none;
    }
    
    .menu ul li {
        float: left;
    }
    
    .menu ul li a {
        list-style: none;
        margin: 0 20px;
        color: #ffffff;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        padding-top: 5px;
        /* line-height: 35px; */
    }
    
    .menu nav ul li a:hover {
        color: #5bb2f2;
    }
    
    .menu .logo img {
        margin-top: -5px;
        margin-right: 35px;
        margin-left: 25px;
        width: 40px;
    }
    
    .login-btn {
        right: 20px;
        position: absolute;
        color: #66686b;
        text-decoration: none;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-color: #413c3c;
        font-size: 0.85rem;
        bottom: -2px;
        font-family: 'Nunito', sans-serif;
    }
    
    .login-btn span {
        display: block;
        padding: 6px 22px;
    }
    
    li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        height: 45px;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #111118;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: #88898d;
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: 'Nunito', sans-serif;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 7px;
        height: 45px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .cont {
        width: 100%;
        height: 735px;
        margin-top: 30px;
    }
    
    .cont .help {
        padding-top: 30px;
        height: 225px;
        width: 100%;
        background-image: url(../image/faq.jpg);
        background-size: cover;
        text-align: center;
    }
    
    .cont .help h2 {
        font-size: 35px;
    }
    
    .cont .help .form {
        height: 60px;
        width: 500px;
        position: relative;
        margin: auto;
        margin-top: 20px;
    }
    
    input {
        width: 100%;
        font-size: 25px;
        text-align: center;
        border: none;
        border-radius: 30px;
    }
    
    .cont .help p {
        margin-top: 10px;
    }
    
    .box {
        width: 600px;
        margin: 55px auto;
        background: #fff;
        border-radius: 7px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
    }
    
    .box .heading {
        background: #7800CF;
        border-radius: 7px 7px 0px 0px;
        padding: 10px;
        color: #fff;
        text-align: center;
        font-size: 25px;
    }
    
    .faqs {
        padding: 0px 20px 20px;
    }
    
     ::-webkit-details-marker {
        float: right;
        margin-top: 3px;
    }
    
    details {
        background: #f6f6f6;
        padding: 10px 20px;
        border-radius: 7px;
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    details summary {
        outline: none;
    }
    
    .footer {
        height: 200px;
        width: 100%;
        background-color: #f2f4f6;
        margin-top: 30px;
    }
    
    .footer-copyright {
        text-align: center;
        padding-top: 30px;
        color: #7d7e83;
        font-family: 'Nunito', sans-serif;
    }
    
    .footer-info {
        width: 100%;
        margin-left: 15%;
        margin-top: 30px;
    }
    
    .f-icons {
        width: 30%;
        float: left;
        font-size: 15px;
        color: #7d7e83;
    }
    
    .footer-social {
        text-align: center;
    }
    
    .footer-social .fab {
        font-size: 23px;
        padding: 10px 5px;
        color: #7d7e83;
        margin-top: 10px;
    }